/* GLOBAL*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


:root {

    /* COLORS */
    --color-bg: #ede0d4;
    --color-text: #414833;
    --color-section: #656d4a;
    --color-accent: #7f5539;
    --color-link: #3b82f6;
    --color-card: #ffffff;
    --color-neutral: #a68a64;
    --color-focus: #ffd166;

    /* TYPOGRAPHY */
    --font-primary: "Source Sans 3", sans-serif;

    --font-h1: 64px;
    --font-h2: 48px;
    --font-h3: 28px;
    --font-body: 24px;
    --font-small: 14px;

    --font-weight-heading: 600;
    --font-weight-body: 400;
    --font-weight-button: 500;

    --line-height: 1.5;

    /* SPACING */
    --space-xs: 12px;
    --space-sm: 16px;
    --space-md: 36px;
    --space-lg: 48px;
    --space-xl: 72px;
    --space-xxl: 96px;

}

body {
    font-family: var(--font-primary);
    font-size: var(--font-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height);
    color: var(--color-text);
    background-color: var(--color-bg);
}

.container{
    /* border: 2px dashed white; */
    height: 100vh;
    
}

h1 {
    font-size: var(--font-h1);
    font-weight: var(--font-weight-heading);
    line-height: 1.5;
}

h2 {
    font-size: var(--font-h2);
    font-weight: var(--font-weight-heading);
}

p {
    margin-bottom: var(--space-sm);
}

.small-text {
    font-size: var(--font-small);
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xs) var(--space-lg);
    background-color: var(--color-neutral);
    color: white;
}

.logo{
    border: 2px dashed white;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.5rem; 
}
.nav-links {
    display: flex;
    gap: var(--space-lg);
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: .2s;
}

.nav-links a:hover {
    color: var(--color-link);
}


button {
    font-family: inherit;
    font-weight: var(--font-weight-button);
    padding: var(--space-xs) var(--space-sm);
    background-color: var(--color-accent);
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

/* HERO */

#hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    gap: 1rem; 
}

.hero-form{
    display: flex;
    gap: 1rem; 
    
}

.hero-left{
    padding: var(--space-sm) var(--space-lg);
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}

.hero-left h1{
    max-width: 15ch;
}

.hero-left p{
    max-width: 50ch;
    font-size: var(--font-body);
  
}

.hero-button{
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1rem;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-form input{
    background-color: #eee;
    font-family: inherit;
    flex: .9;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1rem;
}
